$primaryColor: #4b678d;

body {
  background-color: #cccccc;
}

.booking-calendar {
  &--week {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &--content-wrapper {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &--day {
    padding: 10px;
  }

  &--day-title {
    padding-bottom: 10px;

    h5 {
      margin: 0;
    }
  }
  // &--day-blocks {
  //   padding: 10px;
  // }

  &--day-blocks {
    display: flex;
    @media (min-width: 600px) {
      display: inherit;
    }
  }

  &--time-block {
    @media (min-width: 600px) {
      height: 30px;
    }

    small {
      display: none;
      @media (min-width: 600px) {
        display: inherit;
      }
      opacity: 0.5;
      position: absolute;
      height: 0;
      width: 0;
    }
  }

  &--slot {
    padding: 10px;

    @media (min-width: 600px) {
      padding: 0;
    }

    button {
      width: 100%;
      height: 25px;
      // padding: 20px;
      border: 1px solid #000000;
      outline: 0;

      &.btn--selected {
        background-color: $primaryColor;
        color: #ffffff;
      }
    }

    + .booking-calendar--timeslot {
      margin-top: 10px;
    }
  }
}
