$primaryColor: #4b678d;

body {
  background-color: #cccccc;
}

.booking-calendar {
  &--week {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &--content-wrapper {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &--day {
    padding: 10px;
  }

  &--day-title {
    padding-bottom: 10px;

    h5 {
      margin: 0;
    }
  }
  // &--day-blocks {
  //   padding: 10px;
  // }

  &--day-blocks {
    display: flex;

    @media (min-width: 600px) {
      display: inherit;
    }
  }

  &--time-block {
    height: 40px;

    small {
      padding: 10px;
      opacity: 0.5;
      display: none;

      @media (min-width: 600px) {
        display: block;
      }
    }
  }

  &--slot {
    padding: 10px;

    @media (min-width: 600px) {
      padding: 0;
    }

    button {
      margin-top: 5px;
      width: 100%;
      height: 25px;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      outline: 0;

      &:hover {
        cursor: pointer;
      }

      &.btn--selected {
        background-color: $primaryColor;
        color: #ffffff;
      }
    }

    + .booking-calendar--timeslot {
      margin-top: 10px;
    }
  }
}
